Week 6/week6_NeuralNetworkBasic_박지은/x_train_data.npy
Week 6/week6_NeuralNetworkBasic_박지은/x_test_data.npy
Week 6/week6_NeuralNetworkBasic_박지은/y_train_data.npy
Week 6/week6_NeuralNetworkBasic_박지은/y_test_data.npy
